/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*CSS*/

/*WRAPPER*/
.wrapper {
	width: 1200px;
	margin: 0 auto;
}

/*SECTION-1  FLOAT PART*/
h1 {
	font-size: 22px;
	padding: 10px;
}

.brand-name {
	float: left;
	color: white;
}
.navigation {
	float: right;
	/*padding: 10px;*/

}
.navigation {
	float: right;
	/*padding: 10px;*/
}
.navigation a {
	color: white;
	font-weight: 450;
	text-decoration: none;

}

.header:before ,.header:after{
	content: "";
	display: table;

}
.header:after{
	clear: both;
}

.col1 {
	float: left;
	width: 400px;
	margin: 10px;


}
/*.para {
	text-align: left;
}*/
/*.parent {
	overflow: auto;
}*/
.col2 {
	float: right;
	padding: 10px;
}

.parent:before ,.parent:after{
	content: "";
	display: table;

}
.parent:after{
	clear: both;
}
.main-image {
	width: 600px;
}
/*SECTION2 INLINE BLOCK PART*/

.brand-name1 {
	display: inline-block;

	/*vertical-align: top;*/
	/*margin-top: 10px;*/
	
}
.navigation1 {
	display: inline-block;
	text-align:right;
	margin-left: 85%;	
	/*vertical-align: top;*/
	/*margin-left: 50px;*/
	/*margin-bottom: 20px;*/
	
	
	
}
.col1a {
	width: 600px;
	display: inline-block;
	padding-bottom: 20px;
	margin: 10px;
}


.col2a {
	width: 45%;
	display: inline-block;
	text-align: right;
	/*margin-left: 500px;*/

}

.footer {
	padding: 32px;
	/*margin: 10px;
	margin-left: 20px;*/
	background-color: #807c71;
}
.parent1 {
	margin: 0 auto;
}
/*HEADER STYLE*/
.header {
	background-color: black;
	line-height: 40px;
}
/*FLOAT STYLE SECTION*/
.main-section {
	background-color: #648880;
	padding: 20px;
}

h2	{
	margin:10px;
	font-size: 32px;

}

.foot a {
	font-size: 21px;

}


.top {
	line-height: 60px;
	word-spacing: 3px;
}